page-dados-cadastrais {
    .btnTirarFoto{
        margin-left: 16%;
        margin-top: 12%;
        background-color: #383C85;
    }
    .btnTirarFoto:active{
        background-color: #5d62c0;
    }
    .fontTitulo{
        font: italic bold 15px/20px Georgia, serif;
    }
}
